# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9608b1f291af85a74a6fb88fbd5299eb7b938244a15bdfaa8794deae908ea1471203de7b0919182f70bef180a4ab3b4c9387bc8125c9d9bbd9d3017ac18570ba

test:
  secret_key_base: 59f756fdd4fa6c76ccb401c8befedae998dd30141af8be78a6dc63b0dc310251234284dc745dc19d1c113cc66c5b072d6556252de6060bda771bb09f4fba502c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
